<br>
<div class="container col-xxl-6 px-3 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="card ">
            <div class="card-header">
                Angular Cli
            </div>
            <div class="card-body">
                <h5 class="card-title">NPM INSTALL</h5>
                <p class="card-text">O primeiro passo para utilizar o Angular CLI é realizar a sua instalação e, para
                    tal, é
                    necessário ter o Node.JS instalado. Caso ainda não o tenha, acesse o site do Node.js e baixe a
                    última
                    versão destinada ao seu sistema operacional.
                    <br>
                    Com o Node.JS instalado, temos à disposição o comando npm, necessário para instalar o Angular CLI.
                    Neste
                    ponto, será preciso abrir o terminal do seu sistema operacional e digitar a instrução:
                </p><br>
                <h6>Prompt de Comando ou Terminal de seu Editor de Texto:</h6>
                <h5 class="card-header"><a data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">npm install -g @angular/cli
                        ng –version</a></h5>
                <div class="collapse" id="collapseExample">

                    <img src="/assets/img/npm install.png" width="700px">

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="card">
            <div class="card-header">
                Crie uma pasta do seu projeto
            </div>
            <div class="card-body">
                <h5 class="card-title">Ola-Mundo</h5>
                <p class="card-text">Dentro do seu prompt de comando e no caminho da sua pasta, inclua o seguinte
                    comando:
                </p><br>
                <h6>Prompt de Comando ou Terminal de seu Editor de Texto:</h6>
                <h5 class="card-header">ng new ola-mundo</h5>
            </div>
        </div>
    </div>
    <br>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="card">
            <div class="card-header">
                Agora você esta livre
            </div>
            <div class="card-body">
                <h5 class="card-title">Ola-Mundo</h5>
                <p class="card-text">No terminal, dentro da pasta (ola-mundo), execute o comando abaixo:</p><br>
                <h6>Prompt de Comando ou Terminal de seu Editor de Texto:</h6>
                <h5 class="card-header"><a data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">Ola-Mundo</a></h5>
                <div class="collapse" id="collapseExample">

                    <img src="/assets/img/ola-mundo.jpg" width="700px">

                </div>
            </div>
        </div>
    </div>
    <br>
</div>