.card{
    width: 50vw;
    text-align: center;
    border-radius: 10px;
    margin-left: 50px;
    -webkit-box-shadow: -35px 32px 14px rgba(29, 140, 231, 0.45);
    -moz-box-shadow:    -35px 32px 14px rgba(29, 140, 231, 0.45);
    box-shadow:         -35px 32px 14px rgba(29, 140, 231, 0.45);
}

