<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/img/componente.png" class="d-block mx-lg-auto img-fluid" alt="componente" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Componente</h1>
            <p class="lead">Decorator que marca uma classe como um componente Angular e fornece metadados de
                configuração que determinam como o componente deve ser processado, instanciado e usado em tempo de
                execução.<br>
            </p>
        </div>
    </div>
    <hr>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="text-center display-5 fw-bold lh-1 mb-3">Module</h1>
            <br>
            <p>
                O módulo é como um grande contêiner que contém um ou muitos contêineres pequenos chamados Componente,
                Serviço.<br>
                Os módulos são úteis para agregar funcionalidades em comum dentro de uma aplicação. Por exemplo, é
                possível criar um módulo para conter todas as funcionalidades da área de administração de sua aplicação
                usando o comando ng generate module.
            </p>
            <b>Um <b>componente</b> contém:</b>
            <ul>
                <li>
                    Modelo HTML ou código HTML
                </li>
                <br>
                <li>
                    Código (TypeScript)
                </li>
                <br>
                <li>
                    Serviço: é um código reutilizável compartilhado pelos Componentes, de modo que não é necessário
                    reescrever o código
                </li>
                <br>
            </ul>
        </div>
        <div class="col-lg-6">
            <img src="/assets/img/appmodule.png" class="d-block mx-lg-auto img-fluid" alt="Module" width="700"
                height="500" loading="lazy">
        </div>
        <hr>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/img/diretivas.png" class="d-block mx-lg-auto img-fluid" alt="Diretivas" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="text-center display-5 fw-bold lh-1 mb-3">Diretivas</h1>
            <br>
            <p>Diretivas estruturais são responsáveis por geralmente manipular o DOM, adicionando ou removendo
                elementos. Podemos reconhecê-los através do asterisco (*) que segue com o atributo da diretiva.<br>
                Por exemplo, o Angular nos provê algumas diretivas estruturais, como: ngFor, ngIf e ngSwitchCase.
            </p>
            <br>
        </div>
    </div>
    <hr>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <h1 class="text-center display-5 fw-bold lh-1 mb-3">Rotas</h1>
            <br>
            <p>
                As rotas são definidas por dois elementos principais, o Path, que é o caminho (URL) e o Componente, que é o componente a ser carregado. Ainda existem outras formas de carregar páginas mais eficientes, como carregamento assíncrono, via módulos, mas este é assunto para um próximo artigo.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="/assets/img/rotas.png" class="d-block mx-lg-auto img-fluid" alt="rotas" width="700"
                height="500" loading="lazy">
        </div>
        <hr>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/img/service1.png" class="d-block mx-lg-auto img-fluid" alt="service" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="text-center display-5 fw-bold lh-1 mb-3">Service</h1>
            <br>
            <p>Podemos que dizer que no arquivo service da nossa estrutura de projeto, é aonde contem toda a parte logica que precisamos.<br>
                <b>Service</b> é o objeto usado para organizar e/ou compartilhar estados de objetos e as regras de negócio da aplicação. Ele é singleton, ou seja, há apenas uma instância disponível durante a vida útil da aplicação.
            </p>
            <br>
        </div>
    </div>
</div>
<hr>
