<nav id="menuNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['home-component']"><img src="/assets/img/visao-da-empresa.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark " id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['home-component']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['data-bindings']">Recursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['ambiente']">Preparação do Ambiente </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Projetos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['dashboard']">DashBoard</a></li>
            <li><a class="dropdown-item" [routerLink]="['calculadora']">Calculadora Cientifica</a></li>
            <li><a class="dropdown-item">Modulos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<br>
