
@media (max-width: 360px) {
#video{
    height: 40vh;
    width: 40vh;
}
}

ul, li{
    list-style: none;
}

img, iframe{
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#angularImg{
    width: 7vw;
}

