<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/img/versao-12-home.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Comece a programar com angular</h1>
            <p class="lead">Angular é uma plataforma e framework para construção da interface de aplicações usando HTML,
                CSS e, principalmente, JavaScript, criada pelos desenvolvedores da Google.<br>
                Angular nos ajuda a criar <i>Single-Page Applications</i> com uma qualidade e produtividade
                surpeendente!<br>
                <b>È importante deixar claro que estamos falando de Angular não AngularJS</b>
            </p>
        </div>
    </div>
    <hr>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <h2 class="text-center display-5 fw-bold lh-1 mb-3">Para que serve?</h2>
            <br>
            <p>
                O Angular otimiza o desenvolvimento das aplicações front-end de páginas web. ... Ou seja, uma única
                página
                web, com o objetivo de fornecer a experiência ao usuário parecida com a de um aplicativo de desktop,
                onde o
                código é carregado na página única, de forma dinâmica.
            </p>
            <b>Exemplos de site e aplicações que utlizam o angular </b>
            <ul>
                <li>
                    Google Play
                </li>
                <br>
                <li>
                    Google Gmail
                </li>
                <br>
                <li>
                    YouTube
                </li>
                <br>
                <li>
                    Paypal
                </li>
                <br>
            </ul>
        </div>
        <div class="col-lg-6">
            <img src="/assets/img/Para que serve.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <hr>
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/img/conhecimentosBasicos.png" class="d-block mx-lg-auto img-fluid" alt="Conhecimentos"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h2 class="text-center display-5 fw-bold lh-1 mb-3">Conhecimentos Necessários</h2>
            <br>
            <ul>
                <li>
                    ➢Noções de programação web (HTML/CSS);
                </li>
                <br>
                <li>
                    ➢JAVA Script básico;
                </li>
                <br>
                <li>
                    ➢Noções de orientação a objetos;
                </li>
                <br>
                <li>
                    ➢Noções de lógica de programação
                </li>
                <br>
            </ul>
        </div>
    </div>
    <hr>
    <h2 class="text-center display-5 fw-bold lh-1 mb-3">Angular e Angular JS?</h2>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 ">
            <iframe id="video" width="500" height="300" src="https://www.youtube.com/embed/LFlNU30u7d8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <p class="lead">Vanessa Tonini e Mario Souto conversam neste vídeo sobre o Angular e explicam melhor o que é
                este framework, como ele surgiu, quando é utilizado e quais são as diferenças entre suas versões.
                Confira!
            </p>
        </div>
    </div>
    <span><strong><i>Saiba mais sobre o <a target="_blank" href="https://angular.io/"><img id="angularImg" src="/assets/img/angular.png"></a> consultando a documentação oficial!</i></strong></span>
</div>
<hr>